- attach_limit_size = Setting.attachment_size || 2.megabytes
- edit = !f.object.new_record?
- collapsed = session[:entity_extra].nil?
- entity.attachments.build

= subtitle :entity_extra, collapsed, t(:extra_doc)

.section
  #entity_extra{ hidden_if(collapsed) }
    %table{class: edit ? "edit_form" : "", 'attach_limit' => attach_limit_size }
      %tr
        %td
          = f.simple_fields_for :attachments do |t|
            - new_record = t.object.new_record?

            .attach_div{class: new_record ? "new" : "persistent"}

              = t.file_field 'attachment', id: 'attach', class: new_record ? "" : "hidden"

              .current_file_name= t.object.try(:attachment_file_name)

              .file_size= number_to_human_size(t.object.try(:attachment_file_size)) unless new_record

              - unless new_record
                .replace_link
                  = link_to t(:extra_doc_replace), '#'

              .remove_link{class: new_record ? "hidden" : "display_remove"}
                = link_to t(:extra_doc_remove), '#', confirm: new_record ? false : t(:extra_doc_remove_confirm)

          .next_attachment{data: {remove_text: t(:extra_doc_remove)}}
