- edit = !f.object.new_record?
- collapsed = session[:entity_extra].nil?
= subtitle :entity_extra, collapsed, t(:extra_doc)

.section
  #entity_extra{ hidden_if(collapsed) }
    %table{class: edit ? "edit_form" : "", 'attach_limit' => attachment_size }
      %tr
        %td
          %input{name: "authenticity_token", value: form_authenticity_token, type: "hidden"}
          - if f.object.attachments.any?
            %ul
              - f.object.attachments.each do |attachment|
                %li
                  = f.hidden_field :attachments, multiple: true, value: attachment.signed_id
                  = link_to "#{attachment.filename} #{number_to_human_size(attachment.byte_size)}", rails_blob_path(attachment, disposition: "attachment")
                  = link_to '#', :data => {:confirm => 'Are you sure want to delete this attachment?'} , class: "remove_link", title: "Remove attachment" do
                    -# Font Awesome v4
                    %i.fa.fa-times-circle
          .new_file
            = f.file_field 'attachments', id: 'attach', multiple: true
            .error_msg Max file size: #{number_to_human_size(attachment_size)}
