- collapsed = session[:entity_attachments].nil?
%br/
#attachments
  = subtitle :entity_attachments, collapsed, t(:extra_doc) + " (#{entity.attachments.count})"
  .attachments
    #entity_attachments{ hidden_if(collapsed) }
      %table
        %tr
          %td
          - if entity.attachments.present?
            %ul
              - entity.attachments.each do |attach|
                %li
                  = link_to "#{attach.filename} #{number_to_human_size(attach.byte_size)}", rails_blob_path(attach, disposition: "attachment")
